<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/newspaper.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!--    graph css-->

    <title>Newspaper Style Design Experiment</title>
    <meta name="viewport" content="width=device-width">


<body>
{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}



<div class="collumn">
    <div class="head"><span class="headline hl3">Latest stock news</span>
        <p><span class="headline hl4">Latest trending stocks</span></p>
    </div>


    <div class="column column-1">
        <table class="data-table">
            <thead>
            <tr>
                <th>Symbol</th>
                <th class="column-2">Last</th>
                <th class="column-3">Change</th>
            </tr>
            </thead>

            <tbody>
            {%for stock in stocks_left_table%}
            <tr>
                <td>
                    <a href="/stockinfo/{{stock.symbol}}"><span class="header-cell">{{stock.symbol}}</span><br></a>

                    <span class="data-cell">{{stock.name}}</span>
                </td>
                {% set close_float = stock.close | float %}
                {% set open_float = stock.open | float %}
                <td>{{stock.close}}</td>
                <td>{{(close_float - open_float)| round(2)}}</td>
            </tr>
            {%endfor%}

            </tbody>

            <!-- More table rows -->
            </tbody>
        </table>

        <div class="head"><a href="/news"><span class="headline hl6" style="margin-top: 30px">What's News-</span></a>
            <p><span class="headline hl4" style="margin-top: 10px">Business and Finance</span></p>
        </div>
        {%for n in news%}
        <div class="text-block">
            <h2 class="news-header" style="text-align: center; line-height: 1.5">{{n.name}}</h2>
            <p>{{n.text}}</p>
        </div>
        {%endfor%}




    </div>

</div>

<div class="collumn">
    <div class="head"><span class="headline hl5">Overview</span>
    </div>


    <div class="data-tables first" data-view-uid="1|0_3_3">
        <div class="table-container">
            <div class="table-container__header"><h2 class="table-container__title">Americas</h2></div>
            <table class="data-table-big">
                <thead>
                <tr class="data-table-headers">

                    <th class="data-table-headers-cell" data-type="left" scope="col">Name</th>
                    <th class="data-table-headers-cell" data-type="right" scope="col">Value</th>
                    <th class="data-table-headers-cell" data-type="right" scope="col">Net Change</th>
                    <th class="data-table-headers-cell" data-type="right" scope="col">% Change</th>
                    <th class="data-table-headers-cell" data-type="right" scope="col">1 Month</th>

                </tr>
                </thead>
                <tbody class="data-table-body">
                {%for stock in us%}

                <tr class="data-table-row">
                    <td class="data-table-row-cell" data-type="name" scope="row">
                        <div class="data-table-row-cell__link-block">{{stock.name}}</div>
                    </td>
                    <td class="data-table-row-cell"><span
                            class="data-table-row-cell__value">{{stock.value}}</span></td>
                    <td class="data-table-row-cell data-table-row-cell__next-value_down"
                        next-value="-0.65%"><span
                            class="data-table-row-cell__value">{{stock.net_change}}</span></td>
                    <td class="data-table-row-cell hide-on-mobile"><span
                            class="data-table-row-cell__value">{{stock.percent_change}}</span></td>
                    <td class="data-table-row-cell hide-on-mobile"><span
                            class="data-table-row-cell__value">{{stock.month_change}}</span></td>
                </tr>
                {%endfor%}

                </tbody>
            </table>
        </div>
    </div>
    <div class="data-tables first" data-view-uid="1|0_3_3">
        <div class="table-container">
            <div class="table-container__header"><h2 class="table-container__title">Europe, Middle East & Africa</h2></div>
            <table class="data-table-big">
                <thead>
                <tr class="data-table-headers">

                    <th class="data-table-headers-cell" data-type="left" scope="col">Name</th>
                    <th class="data-table-headers-cell" data-type="right" scope="col">Value</th>
                    <th class="data-table-headers-cell" data-type="right" scope="col">Net Change</th>
                    <th class="data-table-headers-cell" data-type="right" scope="col">% Change</th>
                    <th class="data-table-headers-cell" data-type="right" scope="col">1 Month</th>

                </tr>
                </thead>
                <tbody class="data-table-body">
                {%for stock in eu%}

                <tr class="data-table-row">
                    <td class="data-table-row-cell" data-type="name" scope="row">
                        <div class="data-table-row-cell__link-block">{{stock.name}}</div>
                    </td>
                    <td class="data-table-row-cell"><span
                            class="data-table-row-cell__value">{{stock.value}}</span></td>
                    <td class="data-table-row-cell data-table-row-cell__next-value_down"
                        next-value="-0.65%"><span
                            class="data-table-row-cell__value">{{stock.net_change}}</span></td>
                    <td class="data-table-row-cell hide-on-mobile"><span
                            class="data-table-row-cell__value">{{stock.percent_change}}</span></td>
                    <td class="data-table-row-cell hide-on-mobile"><span
                            class="data-table-row-cell__value">{{stock.month_change}}</span></td>
                </tr>
                {%endfor%}

                </tbody>
            </table>
        </div>
    </div>
    <div class="data-tables first" data-view-uid="1|0_3_3">
        <div class="table-container">
            <div class="table-container__header"><h2 class="table-container__title">Asia Pacific</h2></div>
            <table class="data-table-big">
                <thead>
                <tr class="data-table-headers">

                    <th class="data-table-headers-cell" data-type="left" scope="col">Name</th>
                    <th class="data-table-headers-cell" data-type="right" scope="col">Value</th>
                    <th class="data-table-headers-cell" data-type="right" scope="col">Net Change</th>
                    <th class="data-table-headers-cell" data-type="right" scope="col">% Change</th>
                    <th class="data-table-headers-cell" data-type="right" scope="col">1 Month</th>

                </tr>
                </thead>
                <tbody class="data-table-body">
                {%for stock in asia%}

                <tr class="data-table-row">
                    <td class="data-table-row-cell" data-type="name" scope="row">
                        <div class="data-table-row-cell__link-block">{{stock.name}}</div>
                    </td>
                    <td class="data-table-row-cell"><span
                            class="data-table-row-cell__value">{{stock.value}}</span></td>
                    <td class="data-table-row-cell data-table-row-cell__next-value_down"
                        next-value="-0.65%"><span
                            class="data-table-row-cell__value">{{stock.net_change}}</span></td>
                    <td class="data-table-row-cell hide-on-mobile"><span
                            class="data-table-row-cell__value">{{stock.percent_change}}</span></td>
                    <td class="data-table-row-cell hide-on-mobile"><span
                            class="data-table-row-cell__value">{{stock.month_change}}</span></td>
                </tr>
                {%endfor%}

                </tbody>
            </table>
        </div>
    </div>


</div>
<div class="collumn">



    <div class="column column-1">
        <h3 class="headline hl5" style="margin-bottom:20px">currencies</h3>
        <table class="data-table">
            <thead>
            <tr>
                <th>Symbol</th>
                <th class="column-2">Last</th>
            </tr>
            </thead>

            <tbody>
            {%for curr in currs%}
            <tr>
                <td>
                    <span class="header-cell">{{curr.name}}</span><br>

                </td>
                <td>{{curr.close}}</td>
            </tr>
            {%endfor%}
            </tbody>

            <!-- More table rows -->
            </tbody>
        </table>
    </div>
</div>
<!--Graph script-->

{% endblock %}





